*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    text-align: center;
    font-family: 'Roboto Slab', serif;
}
.imagenes{
    display: flex;
    justify-content: space-between;
}
